.component-products{
  .products-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    .product-wrapper {
      width: 120px;
      height: 120px;
      padding: 25px;
      text-align: center;
      .product {
        padding: 0;
        width: 75px;
        height: 75px;
        margin: 0 auto 10px;
        position: relative;
        a{
          cursor: pointer;
          float: right;
        }
        .product-icon{
          position: absolute;
          top: 50%; left: 50%;
          transform: translate(-50%,-50%);
          color: darkblue;
        }
        .delete{
          color: firebrick;
        }
        .edit{
          color: darkgoldenrod;
        }
      }
      .product-title{
        text-transform: capitalize;
      }
    }
  }
  background-color: lightgrey;
  .completed{
    text-decoration: lightslategrey line-through;
    color: lightslategrey;
  }


    .complete{
      color: darkblue;
    }
  }

